 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@600&display=swap');
 $first-text-color: white;
 $bg-color:#2c2b2a;
 $color-nav-text:#bc9262;
 $color-hr-btn-border:#c69b6e;
 $color-border:#cccccc;
 $color-h6:#d4b392;
 $color-prices:#f6f6f6;
 $color-black-border:black;
 $color-small-text:grey;
 $font-family-bebas:'Bebas Neue', cursive;
 $font-family-opensans:'Open Sans', sans-serif;

